.custom-modal .ant-modal {
    width: 800px !important;
    max-height: 600px !important;
  }
  
  .custom-modal .ant-modal-body {
    height: 500px !important;
    overflow: auto !important;
    padding: 16px;
  }
  nz-step {
    transition: background 0.3s ease;
  }
  
  nz-tag {
    border-radius: 4px;
  }
  