services:
  # ------------------------------
  # Main Platform Services
  # ------------------------------
  security.api:
    container_name: platform.security
    image: amanuelmeketa/identitypro:latest
    platform: linux/amd64
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_HTTP_PORTS: 9090
      KAFKA_BOOTSTRAP_SERVERS: broker:9092
      Kafka__ClientId: security-service  
    ports:
      - "9090:9090"
    networks:
      - menagn-network

  platform.approvals:
    container_name: platform.approvals
    image: amanuelmeketa/platform.approvals:latest
    platform: linux/amd64
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_URLS: http://0.0.0.0:7070
      DatabaseProvider: Postgres
      ConnectionStrings__Postgres: "Host=platform-database;Port=5432;Database=Approvals;Username=postgres;Password=password"
    ports:
      - "2000:7070"
    networks:
      - menagn-network
  
  platform-authorization:
    container_name: authorization-service
    image: amanuelmeketa/platform-authorization:latest
    networks:
      - menagn-network
    ports:
      - "5005:5005"

  platform.bootstrapper:
    container_name: service-bootstrapper
    image: amanuelmeketa/platform.bootstrapper:latest
    networks:
      - menagn-network 

  platform.ui:
    container_name: platform.ui
    image: amanuelmeketa/platform.ui:latest
    platform: linux/amd64
    ports:
      - "5000:80"
    networks:
      - menagn-network

  # ------------------------------
  # Main Postgres for platform
  # ------------------------------
  postgres:
    container_name: platform-database
    image: postgres:17
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5434:5432" 
    networks:
      - menagn-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:8083"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    networks:
      - menagn-network

  keycloak:
    container_name: platform.keycloak
    image: quay.io/keycloak/keycloak:26.4.7
    command: ["start", "--http-enabled=true", "--hostname-strict=false", "--import-realm"]
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://platform-database:5432/postgres
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: password
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    restart: always
    networks:
      - menagn-network
    volumes:
      - ./infrastructure/keycloak/themes/debelo:/opt/keycloak/themes/debelo:ro
      - ./configeration/keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json:ro

  # ------------------------------
  # Authorization Services
  # ------------------------------
  authz-database:
    image: postgres:17
    container_name: authz-database
    environment:
      POSTGRES_DB: openfga
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - authz_pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - menagn-network

  authz-migration:
    image: openfga/openfga:v1.11.2
    container_name: authz-migration
    command: migrate
    environment:
      OPENFGA_DATASTORE_ENGINE: postgres
      OPENFGA_DATASTORE_URI: postgres://postgres:password@authz-database:5432/openfga?sslmode=disable
    depends_on:
      authz-database:
        condition: service_healthy
    networks:
      - menagn-network

  authz-provider:
    image: openfga/openfga:v1.11.2
    container_name: authz-provider
    command: run
    environment:
      OPENFGA_DATASTORE_ENGINE: postgres
      OPENFGA_DATASTORE_URI: postgres://postgres:password@authz-database:5432/openfga?sslmode=disable
      OPENFGA_HTTP_ADDR: 0.0.0.0:6060
      OPENFGA_PLAYGROUND_ENABLED: "false"
      OPENFGA_LOG_FORMAT: json
    ports:
      - "6060:6060"
    depends_on:
      authz-migration:
        condition: service_completed_successfully
    networks:
      - menagn-network

  # ------------------------------
  # Kong Services
  # ------------------------------
  kong-postgres:
    container_name: kong-database
    image: postgres:17
    restart: always
    environment:
      POSTGRES_DB: kong
      POSTGRES_USER: kong
      POSTGRES_PASSWORD: kongpassword
    ports:
      - "5435:5432"
    networks:
      - menagn-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U kong"]
      interval: 5s
      timeout: 5s
      retries: 10

  kong-migration:
    image: amanuelmeketa/kong-oidc:latest
    container_name: kong-migration
    command: ["kong", "migrations", "bootstrap"]
    networks:
      - menagn-network
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-postgres
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kongpassword
      KONG_PG_DATABASE: kong
    depends_on:
      kong-postgres:
        condition: service_healthy
    restart: "no"

  kong:
    container_name: kong
    build:
      context: ./gateway
      dockerfile: Dockerfile
    restart: always
    networks:
      - menagn-network
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-postgres
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kongpassword
      KONG_PG_DATABASE: kong
      KONG_PLUGINS: bundled,kong-oidc

      KONG_PROXY_LISTEN: "0.0.0.0:8000"
      KONG_ADMIN_LISTEN: "0.0.0.0:8001"
      KONG_ADMIN_GUI_LISTEN: "0.0.0.0:8002"
      KONG_ADMIN_GUI_URL: "http://localhost:8002"

    depends_on:
      kong-migration:
        condition: service_completed_successfully
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"

  # ------------------------------
  # kafka message broker
  # ------------------------------
  broker:
    container_name: broker
    image: apache/kafka:latest
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
    ports:
      - "9092:9092"
      - "9093:9093"
    networks:
      - menagn-network

  akhq:
    container_name: akhq
    image: tchiotludo/akhq:0.26.0
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            kafka-local:
              properties:
                bootstrap.servers: "broker:9092"
              default-group-id: "akhq"
    ports:
      - "8085:8080"
    depends_on:
      - broker
    networks:
      - menagn-network
# ------------------------------
# Volumes & Networks
# ------------------------------
volumes:
  postgres_data:
  pgadmin-data:
  authz_pgdata:
  kafka_data:

networks:
  menagn-network:
    driver: bridge
