services:
  security.api:
    container_name: platform.security
    image: amanuelmeketa/identitypro:latest
    platform: linux/amd64
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_HTTP_PORTS: 9090
    ports:
      - "9090:9090"
    networks:
      - menagn-network

  platform.approvals:
    container_name: platform.approvals
    image: amanuelmeketa/platform.approvals:latest
    platform: linux/amd64
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_URLS: http://0.0.0.0:7070
      DatabaseProvider: Postgres
      ConnectionStrings__Postgres: "Host=platform-database;Port=5432;Database=Approvals;Username=postgres;Password=password"
    ports:
      - "2000:7070"
    networks:
      - menagn-network
  
  platform-authorization:
    container_name: authorization-service
    image: amanuelmeketa/platform-authorization:latest
    networks:
      - menagn-network
    ports:
      - "5005:5005"

  platform.bootstrapper:
    container_name: service-bootstrapper
    image: amanuelmeketa/platform.bootstrapper:latest
    networks:
      - menagn-network

  platform.ui:
    container_name: platform.ui
    image: amanuelmeketa/platform.ui:latest
    platform: linux/amd64
    ports:
      - "8000:8000"
    networks:
      - menagn-network

  postgres:
    container_name: platform-database
    image: postgres:17
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - menagn-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:8083"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    networks:
      - menagn-network

  keycloak:
    container_name: platform.keycloak
    image: quay.io/keycloak/keycloak:26.3.3
    command: ["start", "--http-enabled=true", "--hostname-strict=false", "--import-realm"]
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://platform-database:5432/postgres
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: password
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8180:8080"
    depends_on:
      - postgres
    restart: always
    networks:
      - menagn-network
    volumes:
      - ./infrastructure/keycloak/themes/debelo:/opt/keycloak/themes/debelo:ro
      - ./configeration/keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json:ro

  migrate:
    container_name: authorization.migrate
    image: openfga/openfga:latest
    command: migrate
    environment:
      OPENFGA_DATASTORE_ENGINE: postgres
      OPENFGA_DATASTORE_URI: postgres://postgres:password@platform-database:5432/postgres?sslmode=disable
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - menagn-network

  authorization-provider:
    container_name: authorization-provider
    image: openfga/openfga:latest
    command: run --http-addr :6060
    environment:
      OPENFGA_DATASTORE_ENGINE: postgres
      OPENFGA_DATASTORE_URI: postgres://postgres:password@platform-database:5432/postgres?sslmode=disable
      OPENFGA_LOG_FORMAT: json
      OPENFGA_AUTH_TOKEN: w9F#2vLq8Xy!bR3uPz6@Hj7KmQdT1sVc
    depends_on:
      migrate:
        condition: service_completed_successfully
    ports:
      - "6060:6060"  
      - "3000:3000"
    networks:
      - menagn-network

  kong-database:
    image: postgres:16
    container_name: kong-database
    restart: always
    networks:
      - menagn-network
    environment:
      POSTGRES_USER: kong
      POSTGRES_PASSWORD: kong
      POSTGRES_DB: kong
    ports:
      - "5433:5432"  # Host port 5433 → container 5432
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "kong"]
      interval: 5s
      timeout: 5s
      retries: 5

  kong-migration:
    image: amanuelmeketa/kong-oidc:latest
    container_name: kong-migration
    command: ["kong", "migrations", "bootstrap"]
    networks:
      - menagn-network
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong
      KONG_PG_DATABASE: kong
    depends_on:
      kong-database:
        condition: service_healthy
    restart: "no"

  kong:
    image: amanuelmeketa/kong-oidc:latest
    container_name: kong
    restart: always
    networks:
      - menagn-network
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong
      KONG_PG_DATABASE: kong

      # Enable custom plugin
      KONG_PLUGINS: bundled,kong-oidc

      # Proxy (API Gateway)
      KONG_PROXY_LISTEN: "0.0.0.0:8000,0.0.0.0:8443 ssl"

      # Admin API
      KONG_ADMIN_LISTEN: "0.0.0.0:8001"

      # Kong Manager (GUI)
      KONG_ADMIN_GUI_LISTEN: "0.0.0.0:8002,0.0.0.0:8445 ssl"
      KONG_ADMIN_GUI_URL: http://localhost:8002
      KONG_ADMIN_GUI_SESSION_CONF: '{"secret":"supersecretkey","storage":"kong"}'
      KONG_ADMIN_GUI_AUTH: basic-auth
      KONG_ADMIN_GUI_USERNAME: admin
      KONG_ADMIN_GUI_PASSWORD: admin123

      # Optional headers
      KONG_HEADERS: "off"

    depends_on:
      kong-database:
        condition: service_healthy
      kong-migration:
        condition: service_completed_successfully

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001"]
      interval: 5s
      timeout: 2s
      retries: 15

    ports:
      - "8080:8000"   # Host port 8080 → Kong Proxy 8000
      - "8443:8443"   # Kong Proxy SSL
      - "8001:8001"   # Kong Admin API
      - "8002:8002"   # Kong Manager GUI
      - "8445:8445"   # Kong Manager SSL

volumes:
  postgres_data:
  pgadmin-data:

networks:
  menagn-network:
    driver: bridge