<nz-page-header nzTitle="User List">
  <div nz-page-header-extra>
    <button nz-button nzType="primary" (click)="addUser()">Add User</button>
  </div>
</nz-page-header>

<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed" [nzSize]="'small'">
  <thead>
    <tr>
      <th nzCustomFilter>
        Username
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <nz-icon nzType="search" style="color: lightgray;"></nz-icon>
        </nz-filter-trigger>
      </th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listOfDisplayData">
      <td>{{ data.username }}</td>
      <td>{{ data.firstName }} {{ data.lastName }}</td>
      <td>{{ data.email }}</td>
      <td>
        <nz-space [nzSize]="[8, 8]">
          <button nz-button nzSize="small" (click)="viewDetails(data)">Details</button>
          <button nz-button nzSize="small" nzType="primary" (click)="editUser(data)">Edit</button>
          <button nz-button nzSize="small" nzDanger (click)="deleteUser(data)">Delete</button>
        </nz-space>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search username" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
