
.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-icon {
  color: lightgray;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

/* Example styles */
.nz-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nz-page-header-extra {
  display: flex;
  align-items: center;
}
