

<div style="display: flex; justify-content: flex-end; margin-bottom: 16px;">
  <button nz-button nzType="primary" nzShape="round" (click)="navigateToRegister()">
    Add User
  </button>
</div>

<nz-table #nzTable [nzData]="filteredUserList" nzTableLayout="fixed">
  <thead>
    <tr>
      <th nzCustomFilter>
        Username
        <nz-filter-trigger [nzVisible]="isSearchVisible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <!-- Search Icon Button to Toggle Search Box -->
          <button nz-button nzType="default" nzShape="circle" (click)="toggleSearchVisibility()">
            <span nz-icon nzType="search" nzTheme="outline" style="color: #4CAF50;"></span>
          </button>
        </nz-filter-trigger>
        
        <!-- Input box that becomes visible when the search icon is clicked -->
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <div *ngIf="isSearchVisible" style="padding: 8px;">
            <input nz-input [(ngModel)]="searchValue" (ngModelChange)="filterUserList()" placeholder="Search by username" />
          </div>
        </nz-dropdown-menu>
      </th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of filteredUserList">
      <td>
        <a [routerLink]="['/user-details/', user.id]">{{ user.username }}</a>
      </td>
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>
        <nz-space [nzSize]="8">
          <button nz-button nzSize="small" nzType="primary">Active</button>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzSize="small" (click)="deleteUser(user.id)" nzDanger>Delete</button>
        </nz-space>        
      </td>
    </tr>
  </tbody>
</nz-table>
