<nz-layout style="height: 100vh;">
  <!-- Sidebar Section -->
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" nzTheme="light" [nzWidth]="250">
    <div class="logo" style="color: rgb(19, 13, 13);"><h1> Menagn </h1></div>
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/dashboard">
          <span nz-icon nzType="dashboard"></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li nz-submenu nzTitle="User Management" nzIcon="team">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/list">
              <span nz-icon nzType="user"></span>
              <span>Users</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="safety-certificate"></span>
              <span>Roles</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="group"></span>
              <span>Groups</span>
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Application List" nzIcon="appstore">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="appstore-add"></span>
              <span>App List</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="branch"></span>
              <span>Process List</span>
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Configuration Settings" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="sliders"></span>
              <span>Settings</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="form"></span>
              <span>Form Settings</span>
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Report" nzIcon="bar-chart">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="area-chart"></span>
              <span>App Report</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="pie-chart"></span>
              <span>Process Report</span>
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Setup" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="tool"></span>
              <span>Tools</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="database"></span>
              <span>Database</span>
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Setting" nzIcon="appstore">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="setting"></span>
              <span>General Settings</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="cloud"></span>
              <span>Cloud Settings</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <!-- Main Content Section -->
  <nz-layout>
    <nz-header>
      <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></span>
    </nz-header>
    
    <nz-content style="display: flex; flex-direction: column; height: 100%; padding: 16px;">
      <div class="inner-content" style="flex: 1; overflow: auto;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
