<nz-layout>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    nzTheme="light"
    [nzCollapsedWidth]="80" 
    [nzWidth]="250"
  >
    <div class="logo" style="color: rgb(19, 13, 13);"><h1> DEBELO </h1></div>
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/dashboard">
          <span nz-icon nzType="dashboard"></span>
          <span class="menu-text">Dashboard</span>
        </a>
      </li>
      <li nz-submenu nzTitle="User Management" nzIcon="team">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/list">
              <span nz-icon nzType="user"></span>
              <span class="menu-text">Users</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/role-list">
              <span nz-icon nzType="safety-certificate"></span>
              <span class="menu-text">Roles</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="group"></span>
              <span class="menu-text">Groups</span>
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Approvals" nzIcon="appstore">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/app-template-list">
              <span nz-icon nzType="appstore-add"></span>
              <span>App Templates</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/instance-list">
              <span nz-icon nzType="branch"></span>
              <span>Templates Instance</span>
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Stage Definitions" nzIcon="appstore">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/stage-definition-create">
              <span nz-icon nzType="appstore-add"></span>
              <span>Add Stage Definitions</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/stage-definition-list">
              <span nz-icon nzType="appstore-add"></span>
              <span>Stage Definitions</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="branch"></span>
              <span>Stage Instances</span>
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Configuration" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="sliders"></span>
              <span>Settings</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="form"></span>
              <span>Form Settings</span>
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Report" nzIcon="bar-chart">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="area-chart"></span>
              <span>App Report</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="pie-chart"></span>
              <span>Process Report</span>
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Setup" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="tool"></span>
              <span>Tools</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="database"></span>
              <span>Database</span>
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Setting" nzIcon="appstore">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="setting"></span>
              <span>General Settings</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">
              <span nz-icon nzType="cloud"></span>
              <span>Cloud Settings</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout >
   
    <nz-header>
      <div style="display: flex; width: 100%; justify-content: space-between;">
        <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></span>
    
       <!-- Display Login button if token does not exist -->
       <button *ngIf="!token" nz-button (click)="login()" style="margin-left: auto;">Login</button>

        <!-- Display user email and dropdown if token exists -->
        <nz-button-group *ngIf="token" style="margin-left: auto;">
          <button nz-button>{{ token }}</button>
          <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
            <span nz-icon nzType="user"></span>
          </button>
        </nz-button-group>
      </div>
    
      <nz-dropdown-menu #menu2="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="onPasswordReset()">
            <i nz-icon nzType="lock" nzTheme="outline"></i>ß
            <span>Password Reset</span>
          </li>
          <li nz-menu-item (click)="onUserProfile()">
            <i nz-icon nzType="profile" nzTheme="outline"></i>
            <span>User Profile</span>
          </li>
          <li nz-menu-item (click)="onLogout()">
            <i nz-icon nzType="logout" nzTheme="outline"></i>
            <span>Logout</span>
          </li>
        </ul>
      </nz-dropdown-menu>
    </nz-header>
    
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item> </nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <p>Copyright © Menagn Software {{ currentYear }}. All rights reserved.</p> 
    </nz-footer>
  </nz-layout>
</nz-layout>