

  .example-box span {
    cursor: pointer;
  }

  .template-link {
    color: #1890ff; 
    cursor: pointer;
    text-decoration: underline;
  }
  
  .template-link:hover {
    color: #40a9ff;
  }
  