<div class="template-container">
  <!-- Toolbar with search -->
  <div class="template-toolbar">
    <nz-input-group nzSuffixIcon="search" class="search-bar">
      <input nz-input placeholder="Search templates..." [(ngModel)]="searchQuery" />
    </nz-input-group>
  </div>

  <!-- Template Grid -->
  <div class="template-list">
    <nz-card *ngFor="let template of filteredTemplates()" class="template-card" nzHoverable>
      <div class="template-header">
        <span nz-icon nzType="cluster" class="template-icon"></span>
        <div class="template-info">
          <div class="template-name">{{ template.name }}</div>
          
          <!-- Description -->
          <p class="template-description" [class.expanded]="template.showFullDescription">
            {{ template.showFullDescription ? template.description 
                : (template.description ? (template.description | slice:0:0) : '') }}
          
            <span *ngIf="template.description && template.description.length > 0" class="read-more"
                  (click)="template.showFullDescription = !template.showFullDescription">
              {{ template.showFullDescription ? ' Show Less' : ' Read Description' }}
            </span>
          </p>          
          
        </div>
      </div>

      <!-- Actions -->
      <div class="template-footer">
        <button nz-button nzType="primary" class="start-btn" 
                (click)="openStartInstance(template.templateId)">
          <i nz-icon nzType="play-circle"></i>
          Start Request
        </button>
      </div>
    </nz-card>
  </div>

  <!-- Empty state -->
  <div *ngIf="filteredTemplates().length === 0" class="no-templates">
    <nz-empty [nzNotFoundContent]="'No templates found'"></nz-empty>
  </div>
</div>
