<div class="template-container">
  <!-- Toolbar -->
  <div class="template-toolbar">
    <nz-input-group nzSuffixIcon="search" class="search-bar">
      <input
        nz-input
        placeholder="Search templates..."
        [(ngModel)]="searchQuery"
      />
    </nz-input-group>
  </div>

  <!-- Template list -->
  <div class="template-list">
    <nz-card *ngFor="let template of filteredTemplates()" class="template-list-item">
      <div class="template-item-content">
        <!-- Title -->
        <div class="template-title">
          <span nz-icon nzType="cluster" style="color:#722ed1;"></span>
          <span class="template-name">{{ template.name }}</span>
        </div>

        <!-- Description -->
        <p class="template-description">
          {{ template.showFullDescription ? template.description : (template.description | slice:0:50) }}
          <span *ngIf="template.description && template.description.length > 50"
                class="read-more"
                (click)="template.showFullDescription = !template.showFullDescription">
            {{ template.showFullDescription ? ' Show Less' : '... Read More' }}
          </span>
        </p>
      </div>

      <!-- Actions -->
      <div class="template-actions">
        <button nz-button nzType="primary" class="start-btn" (click)="startInstance(template)">
          <span nz-icon nzType="play-circle"></span>
          Start Instance
        </button>
      </div>
    </nz-card>
  </div>

  <!-- No data -->
  <div *ngIf="filteredTemplates().length === 0" class="no-templates">
    No templates found.
  </div>
</div>
