:host {
  background: #f5f5f5;
  overflow: hidden;
  padding: 24px;
  display: block;
}

.card-container ::ng-deep p {
  margin: 0;
}
.card-container ::ng-deep > .ant-tabs-card .ant-tabs-content {
  height: 460px;
  margin-top: -16px;
}
.card-container ::ng-deep > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}
.card-container ::ng-deep > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.card-container ::ng-deep > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
.card-container ::ng-deep > .ant-tabs-card .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

.bold-text {
  font-weight: bold;
  font-size: 16px; /* Adjust the font size as needed */
}

.field-cell {
  font-size: 16px; /* Adjust the font size as needed */
}

.value-cell {
  font-size: 16px; /* Adjust the font size as needed */
}
