<nz-breadcrumb style="display: flex; justify-content: flex-end; margin-bottom: 16px;">
  <nz-breadcrumb-item>
    <a routerLink="/list" style="text-decoration: underline;">User List</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>User Details</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="card-container">
  <nz-tabset nzType="card">
    <!-- User Details Tab -->
    <nz-tab [nzTitle]="'User Details'">
      <div *ngIf="userDetails">
        <form nz-form>
          <nz-table #editTable [nzData]="listOfData" [nzBordered]="true">
            <thead>
              <tr>
                <th>Field</th>
                <th>Value</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of editTable.data">
                <td>{{ item.field }}</td>
                <td *ngIf="!item.editable">{{ item.value }}</td>
                <td *ngIf="item.editable">
                  <input nz-input [(ngModel)]="item.value" [name]="item.field" />
                </td>
                <td>
                  <a *ngIf="!item.editable && !item.isRestricted" (click)="startEdit(item)">Edit</a>
                  <a *ngIf="item.editable" (click)="saveEdit(item)">Save</a>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </form>
      </div>
    </nz-tab>

    <!-- Reset Password Tab -->
    <nz-tab [nzTitle]="'Reset Password'">
      <p>Reset password content will go here...</p>
    </nz-tab>

    <!-- Role Tab -->
    <nz-tab [nzTitle]="'Role'">
      <p>Role-related content will go here...</p>
    </nz-tab>

    <!-- Session Tab -->
    <nz-tab [nzTitle]="'Session'">
      <p>Session details will go here...</p>
    </nz-tab>
  </nz-tabset>
</div>
