<div class="card-container">
    <nz-tabset nzType="card">
        <nz-tab [nzTitle]="'User Details'">
          <div *ngIf="userDetails">
            <nz-card nzTitle="User Details" style="max-width: 1000px; margin-left: 20px;">
                <nz-table #basicTable [nzData]="userDetailsList" [nzBordered]="true" [nzSize]="'middle'">
                  <tbody>
                    <tr>
                      <td style="padding-right: 100px; font-weight: bold;">Username</td>
                      <td style="font-size: 20px;">{{ userDetails.username }}</td>
                    </tr>
                    <tr>
                      <td style="padding-right: 100px; font-weight: bold;">First Name</td>
                      <td style="font-size: 20px;">{{ userDetails.firstName }}</td>
                    </tr>
                    <tr>
                      <td style="padding-right: 100px; font-weight: bold;">Last Name</td>
                      <td style="font-size: 20px;">{{ userDetails.lastName }}</td>
                    </tr>
                    <tr>
                      <td style="padding-right: 100px; font-weight: bold;">Email</td>
                      <td style="font-size: 20px;">{{ userDetails.email }}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </nz-card>                                                     
          </div>
        </nz-tab>
        <nz-tab [nzTitle]="'Reset Password '">
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>Username</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                    <input nz-input formControlName="userName" placeholder="async validate try to write JasonWood" />
                    <ng-template #userErrorTpl let-control>
                      @if (control.errors?.['required']) {
                        Please input your username!
                      }
                      @if (control.errors?.['duplicated']) {
                        The username is redundant!
                      }
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
                    <input nz-input formControlName="email" placeholder="email" type="email" />
                    <ng-template #emailErrorTpl let-control>
                      @if (control.errors?.['email']) {
                        The input is not valid E-mail!
                      }
                      @if (control.errors?.['required']) {
                        Please input your E-mail!
                      }
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input your password!">
                    <input nz-input type="password" formControlName="password" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                    <input nz-input type="password" formControlName="confirm" placeholder="confirm your password" />
                    <ng-template #passwordErrorTpl let-control>
                      @if (control.errors?.['required']) {
                        Please confirm your password!
                      }
                      @if (control.errors?.['confirm']) {
                        Password is inconsistent!
                      }
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSpan]="7" nzRequired>Comment</nz-form-label>
                  <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please write something here!">
                    <nz-textarea-count [nzMaxCharacterCount]="2000">
                      <textarea formControlName="comment" nz-input rows="2" placeholder="write any thing"></textarea>
                    </nz-textarea-count>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control [nzOffset]="7" [nzSpan]="12">
                    <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
                    <button nz-button (click)="resetForm($event)">Reset</button>
                  </nz-form-control>
                </nz-form-item>
              </form>
          <nz-tab [nzTitle]="'Role '">
            <p>Rolee of Tab Pane {{ tab }}</p>
            <p>Content of Tab Pane {{ tab }}</p>
            <p>Content of Tab Pane {{ tab }}</p>
          </nz-tab>
          <nz-tab [nzTitle]="'Session '">
            <p>Session of Tab Pane {{ tab }}</p>
            <p>Content of Tab Pane {{ tab }}</p>
            <p>Content of Tab Pane {{ tab }}</p>
          </nz-tab>
    </nz-tabset>
  </div>