name: kong-oidc.pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Set Docker image version based on short SHA
      - name: Set Docker image version
        run: echo "IMAGE_VERSION=1.0.0-${GITHUB_SHA::8}" >> $GITHUB_ENV

      # 3️⃣ Log in to Docker Hub
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 4️⃣ Build and push Docker image
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/kong-oidc:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/kong-oidc:${{ env.IMAGE_VERSION }}
